@font-face {
font-family: 'BerkeleyMono';
src: url('/font/BerkeleyMono-Regular.woff2') format('woff2'),
url('/font/BerkeleyMono-Regular.woff') format('woff');
}

/* Expando */
.wrap-collabsible {
margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
display: none;
}

.lbl-toggle {
display: block;

font-weight: bold;
font-family: monospace;
font-size: 1.2rem;
text-transform: uppercase;
text-align: center;

padding: 1rem;

color: #F9DBBA;
background: #5B99C2;

cursor: pointer;

border-radius: 7px;
transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
color: #1A4870;
}

.lbl-toggle::before {
content: ' ';
display: inline-block;

border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid currentColor;
vertical-align: middle;
margin-right: .7rem;
transform: translateY(-2px);

transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
max-height: 0px;
overflow: hidden;
transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
max-height: 1000vh;
}

.toggle:checked + .lbl-toggle {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
background: rgba(26, 72, 112, .2);
border-bottom: 1px solid rgb(31, 49, 111, .45);
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
padding: .5rem 1rem;
}


body {
font-family: Verdana, sans-serif;
margin: auto;
padding: 20px;
max-width: 900px;
text-align: left;
background-color: #fff;
word-wrap: break-word;
overflow-wrap: break-word;
line-height: 1.5;
color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
color: #222;
}

a {
color: #3273dc;
}

.title {
text-decoration: none;
border: 0;
}

.title span {
font-weight: 400;
}

nav a {
margin-right: 10px;
}

textarea {
width: 100%;
font-size: 1rem;
}

input {
font-size: 1rem;
}

main,article {
line-height: 1.6;
}

table {
width: 100%;
}

img {
max-width: 100%;
}

main img {
display:block;
margin-left:auto;
margin-right:auto;
}

code {
padding: 2px 5px;
background-color: #f2f2f2;
}

pre code {
color: #222;
display: block;
padding: 20px;
white-space: pre-wrap;
font-size: 0.875rem;
overflow-x: auto;
}

div.highlight pre {
background-color: initial;
color: initial;
}

div.highlight code {
background-color: unset;
color: unset;
}

blockquote {
border-left: 1px solid #999;
color: #222;
padding-left: 20px;
font-style: italic;
}

footer {
padding: 25px;
text-align: center;
}

.helptext {
color: #222;
font-size: small;
}

.errorlist {
color: #eba613;
font-size: small;
}

/* blog posts */
ul.blog-posts {
list-style-type: none;
padding: unset;
}

ul.blog-posts li {
display: flex;
}

ul.blog-posts li span {
flex: 0 0 130px;
}

ul.blog-posts li a:visited {
color: #8b6fcb;
}

@media (prefers-color-scheme: dark) {
body {
background-color: #333;
color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
color: #eee;
}

a {
color: #8cc2dd;
}

code {
background-color: #222;
}

pre code {
color: #ddd;
}

blockquote {
color: #ccc;
}

textarea,
input {
background-color: #252525;
color: #ddd;
}

.helptext {
color: #aaa;
}
}

.header-block {
display: flex;
justify-content: center;
align-items: center;
}

.header-img {
margin-right: 1rem ;
}

/*
@media (min-width: 1200px) {
pre {
width: 1080px;
position: relative;
left: calc(-540px + 50%);
}
}

*/

pre {
text-align: center;
background-color: transparent !important;
}

pre code {
display: inline-block;
text-align: left;
}


/*
pre code {
width: 120em;
position: relative;
left: calc(-60em + 50%);
}
*/

pre, pre * {
font-family: 'BerkeleyMono', monospace;
font-variant-ligatures: none;
}

pre {
max-height: 100vh;
overflow: -moz-scrollbars-vertical;
overflow-y: scroll;
}