@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
/* line 9, ../../assets/scss/_bootswatch.scss */
.navbar {
  border: none;
  font-size: 13px;
  font-weight: 300;
}
/* line 14, ../../assets/scss/_bootswatch.scss */
.navbar .navbar-toggle:hover .icon-bar {
  background-color: #b3b3b3;
}
/* line 18, ../../assets/scss/_bootswatch.scss */
.navbar-collapse {
  border-top-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 23, ../../assets/scss/_bootswatch.scss */
.navbar .btn {
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 28, ../../assets/scss/_bootswatch.scss */
.navbar-form {
  margin-top: 7px;
  margin-bottom: 5px;
}
/* line 32, ../../assets/scss/_bootswatch.scss */
.navbar-form .form-control {
  height: auto;
  padding: 4px 6px;
}
/* line 40, ../../assets/scss/_bootswatch.scss */
.navbar .dropdown-menu {
  border: none;
}
/* line 43, ../../assets/scss/_bootswatch.scss */
.navbar .dropdown-menu > li > a,
.navbar .dropdown-menu > li > a:focus {
  background-color: transparent;
  font-size: 13px;
  font-weight: 300;
}
/* line 51, ../../assets/scss/_bootswatch.scss */
.navbar .dropdown-header {
  color: rgba(255, 255, 255, 0.5);
}
/* line 59, ../../assets/scss/_bootswatch.scss */
.navbar-default .dropdown-menu {
  background-color: #333333;
}
/* line 62, ../../assets/scss/_bootswatch.scss */
.navbar-default .dropdown-menu > li > a,
.navbar-default .dropdown-menu > li > a:focus {
  color: #fff;
}
/* line 67, ../../assets/scss/_bootswatch.scss */
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
  background-color: #272727;
}
/* line 77, ../../assets/scss/_bootswatch.scss */
.navbar-inverse .dropdown-menu {
  background-color: #008cba;
}
/* line 80, ../../assets/scss/_bootswatch.scss */
.navbar-inverse .dropdown-menu > li > a,
.navbar-inverse .dropdown-menu > li > a:focus {
  color: #fff;
}
/* line 85, ../../assets/scss/_bootswatch.scss */
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > .active > a,
.navbar-inverse .dropdown-menu > .active > a:hover {
  background-color: #006687;
}

/* line 96, ../../assets/scss/_bootswatch.scss */
.btn {
  padding: 8px 12px;
}
/* line 99, ../../assets/scss/_bootswatch.scss */
.btn-lg {
  padding: 16px 20px;
}
/* line 103, ../../assets/scss/_bootswatch.scss */
.btn-sm {
  padding: 8px 12px;
}
/* line 107, ../../assets/scss/_bootswatch.scss */
.btn-xs {
  padding: 4px 6px;
}

/* line 114, ../../assets/scss/_bootswatch.scss */
.btn-group .btn ~ .dropdown-toggle {
  padding-left: 16px;
  padding-right: 16px;
}
/* line 119, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-menu {
  border-top-width: 0;
}
/* line 123, ../../assets/scss/_bootswatch.scss */
.btn-group.dropup .dropdown-menu {
  border-top-width: 1px;
  border-bottom-width: 0;
  margin-bottom: 0;
}
/* line 131, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-default ~ .dropdown-menu {
  background-color: #e7e7e7;
  border-color: #ccc;
}
/* line 135, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-default ~ .dropdown-menu > li > a {
  color: #333333;
}
/* line 139, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-default ~ .dropdown-menu > li > a:hover {
  background-color: lightgray;
}
/* line 144, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu {
  background-color: #008cba;
  border-color: #0079a1;
}
/* line 148, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu > li > a {
  color: #fff;
}
/* line 152, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-primary ~ .dropdown-menu > li > a:hover {
  background-color: #006d91;
}
/* line 157, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}
/* line 161, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu > li > a {
  color: #fff;
}
/* line 165, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-success ~ .dropdown-menu > li > a:hover {
  background-color: #388f58;
}
/* line 170, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu {
  background-color: #5bc0de;
  border-color: #46b8da;
}
/* line 174, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu > li > a {
  color: #fff;
}
/* line 178, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-info ~ .dropdown-menu > li > a:hover {
  background-color: #39b3d7;
}
/* line 183, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu {
  background-color: #E99002;
  border-color: #d08002;
}
/* line 187, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu > li > a {
  color: #fff;
}
/* line 191, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-warning ~ .dropdown-menu > li > a:hover {
  background-color: #c17702;
}
/* line 196, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu {
  background-color: #F04124;
  border-color: #ea2f10;
}
/* line 200, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu > li > a {
  color: #fff;
}
/* line 204, ../../assets/scss/_bootswatch.scss */
.btn-group .dropdown-toggle.btn-danger ~ .dropdown-menu > li > a:hover {
  background-color: #dc2c0f;
}

/* line 213, ../../assets/scss/_bootswatch.scss */
.lead {
  color: #6f6f6f;
}

/* line 217, ../../assets/scss/_bootswatch.scss */
cite {
  font-style: italic;
}

/* line 221, ../../assets/scss/_bootswatch.scss */
blockquote {
  border-left-width: 1px;
  color: #6f6f6f;
}
/* line 225, ../../assets/scss/_bootswatch.scss */
blockquote.pull-right {
  border-right-width: 1px;
}
/* line 229, ../../assets/scss/_bootswatch.scss */
blockquote small {
  font-size: 12px;
  font-weight: 300;
}

/* line 237, ../../assets/scss/_bootswatch.scss */
table {
  font-size: 12px;
}

/* line 243, ../../assets/scss/_bootswatch.scss */
label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-size: 12px;
  font-weight: normal;
}

/* line 252, ../../assets/scss/_bootswatch.scss */
input[type="radio"],
input[type="checkbox"] {
  margin-top: 1px;
}

/* line 260, ../../assets/scss/_bootswatch.scss */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}

/* line 268, ../../assets/scss/_bootswatch.scss */
.nav-tabs > li > a {
  background-color: #e7e7e7;
  color: #222222;
}
/* line 273, ../../assets/scss/_bootswatch.scss */
.nav-tabs .caret {
  border-top-color: #222222;
  border-bottom-color: #222222;
}

/* line 279, ../../assets/scss/_bootswatch.scss */
.nav-pills {
  font-weight: 300;
}

/* line 283, ../../assets/scss/_bootswatch.scss */
.breadcrumb {
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 291, ../../assets/scss/_bootswatch.scss */
.pagination {
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
/* line 297, ../../assets/scss/_bootswatch.scss */
.pagination > li > a,
.pagination > li > span {
  margin-left: 4px;
  color: #999999;
}
/* line 305, ../../assets/scss/_bootswatch.scss */
.pagination > .active > a,
.pagination > .active > span {
  color: #fff;
}
/* line 314, ../../assets/scss/_bootswatch.scss */
.pagination > li > a,
.pagination > li > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 3px;
}
/* line 320, ../../assets/scss/_bootswatch.scss */
.pagination-lg > li > a {
  padding-left: 22px;
  padding-right: 22px;
}
/* line 325, ../../assets/scss/_bootswatch.scss */
.pagination-sm > li > a {
  padding: 0 5px;
}

/* line 330, ../../assets/scss/_bootswatch.scss */
.pager {
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}

/* line 336, ../../assets/scss/_bootswatch.scss */
.list-group {
  font-size: 12px;
  font-weight: 300;
}

/* line 343, ../../assets/scss/_bootswatch.scss */
.close {
  opacity: 0.4;
  text-decoration: none;
  text-shadow: none;
}
/* line 348, ../../assets/scss/_bootswatch.scss */
.close:hover, .close:focus {
  opacity: 1;
}

/* line 354, ../../assets/scss/_bootswatch.scss */
.alert {
  font-size: 12px;
  font-weight: 300;
}
/* line 358, ../../assets/scss/_bootswatch.scss */
.alert .alert-link {
  font-weight: normal;
  color: #fff;
  text-decoration: underline;
}

/* line 365, ../../assets/scss/_bootswatch.scss */
.label {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  font-weight: 300;
}
/* line 371, ../../assets/scss/_bootswatch.scss */
.label-default {
  background-color: #e7e7e7;
  color: #333333;
}

/* line 377, ../../assets/scss/_bootswatch.scss */
.badge {
  font-weight: 300;
}

/* line 383, ../../assets/scss/_bootswatch.scss */
.progress {
  height: 22px;
  padding: 2px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 395, ../../assets/scss/_bootswatch.scss */
.dropdown-menu {
  padding: 0;
  margin-top: 0;
  font-size: 12px;
}
/* line 400, ../../assets/scss/_bootswatch.scss */
.dropdown-menu > li > a {
  padding: 12px 15px;
}
/* line 405, ../../assets/scss/_bootswatch.scss */
.dropdown-header {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 9px;
  text-transform: uppercase;
}

/* line 413, ../../assets/scss/_bootswatch.scss */
.popover {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

/* line 420, ../../assets/scss/_bootswatch.scss */
.panel-heading, .panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
/* line 427, ../../assets/scss/_bootswatch.scss */
.panel-default .close {
  color: #222222;
}

/* line 434, ../../assets/scss/_bootswatch.scss */
.modal .close {
  color: #222222;
}

/* line 1, ../../assets/scss/_base.scss */
.image-with-text {
  position: relative;
}
/* line 4, ../../assets/scss/_base.scss */
.image-with-text h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 10, ../../assets/scss/_base.scss */
.image-with-text h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: black;
  /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

/* line 21, ../../assets/scss/_base.scss */
.contact-image {
  float: left;
  width: 300px;
  margin-bottom: 10px;
}

/* line 27, ../../assets/scss/_base.scss */
.contact-text-divider {
  margin-top: 10px;
}

/* line 31, ../../assets/scss/_base.scss */
.about-text {
  word-wrap: break-word;
}
