{% extends "page.html" %}

{% block before_content %}
    {% if page.extra.image %}
        {% set image = resize_image(path=page.extra.image, width=page.extra.image_width, height=page.extra.image_height, op="fit") %}
        <a href="{{ page.extra.image }}"><img src="{{ image.url }}" /></a>
    {% endif %}

    {% if page.extra.pretext %}
        {{ page.extra.pretext|markdown|safe}}
    {% endif %}

    {% if page.toc %}
        <ul>
        {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}